
  <button class="btn btn-link" name="addnewContrat" [routerLink]="['/contrats/new']"> add new Contrat</button>
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">liste des contrats</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date debut</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">date fin</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">specialité</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">archive</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">montant du Contrat</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">option</th>
                  
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
               
          
                <tr *ngFor="let contrat of all">
                    <td class="text-center"> 
                      <div class="d-flex px-2 py-1">
                        
                        <div class="d-flex flex-column justify-content-center">
                            <p class="text-xs font-weight-bold mb-0">{{contrat.dateDebutContrat}}  </p>
                         
                        </div>
                      </div>
                    </td>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{contrat.dateFinContrat}}</p>
                     
                    </td>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{contrat.specialite}}</p>
                     
                    </td>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0" >{{contrat.archive}}</p>
                     
                    </td>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{contrat.montantContrat}}</p>
                     
                    </td>
                    <td class="align-middle text-center text-sm">
                      <button class="btn btn-warning btn-sm m-auto" [routerLink]="['/contrats/update',contrat.idContrat]" > update</button>
                    </td>
                    <td class="align-middle text-center">
                      <button class="btn btn-danger btn-sm m-auto" (click)="delete(contrat)"> delete</button>
                      
                    </td>
                   
                  </tr>
                
                   
               
              </tbody>
              
            </table>
        
          </div>
        </div>
      </div>
    </div>
    </div>