<div class="col-12 col-xl-4">
    <div class="card card-plain h-100 ">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <h6 class="mb-0 text-sm">Professor's Information</h6>




          </div>
          <div class="col-md-4 text-end">
            <a a [routerLink]="['/enseignants/update',enseignant.idEnseignant]">
              <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true" aria-label="Edit Profile" data-bs-original-title="Edit Profile"></i><span class="sr-only">Edit Profile</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <ul class="list-group">
          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">FullName:</strong> &nbsp; {{enseignant.nom}}   {{enseignant.prenom}}</li>
          <li class="list-group-item border-0 ps-0 text-sm" ><strong class="text-dark">Code: </strong> &nbsp;{{enseignant.codeEns}}</li>
          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Role:</strong> &nbsp; {{enseignant.role}}</li>
          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{enseignant.email}}</li>
        </ul>
      </div>
    </div>
  </div> 