<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-300 border-radius-xl mt-4"
        style="background-image: url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">


        <div class="card-header pb-0 p-3">
            

                <div class="col-6 d-flex align-items-center">
                    <h4 class="mb-0">{{action}} Department</h4>
                </div>


            <div class="p-4">
                
                <form [formGroup]="formDE" (ngSubmit)="saveDep()">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="mb-4">
                          <label class="form-label">Name of Departement :</label>
                        </div>
                      </div>


                     <!-- <div class="alert alert-danger"
                      *ngIf="form.controls['email'].invalid">
                      <p *ngIf="form.controls['email'].hasError('required')">
                        email is required
                      </p>
                      <p *ngIf="form.controls['email'].hasError('email')">
                        email invalid
                      </p>
                  </div> 
                 'nomDepart': new FormControl('',[ Validators.required,Validators.pattern(this.pattern),Validators.minLength(3)]),
      'codeInterne': new FormControl('', [ Validators.required,Validators.minLength(3)]),
      'bloc': new FormControl('', Validators.required),
      'chefDepart': new FormControl('', [ Validators.required,Validators.pattern(this.pattern)]),
                
                
                -->

                      <div class="col-md-8">
                        <div class="input-group input-group-dynamic  mb-4">
                          <input type="text" name="name" formControlName="nomDepart" [(ngModel)]="departement.nomDepart" class="form-control"  placeholder="Name of Departement">
                        </div>
                        <div class="alert alert-danger alert-dismissible text-white" *ngIf="formDE.controls['nomDepart'].invalid && formDE.controls['nomDepart'].touched">
                     
                          <div *ngIf="formDE.controls['nomDepart'].hasError('required')">
                            <span class="text-sm">this field is required</span>  
                            
                               </div>
                               <div *ngIf="formDE.controls['nomDepart'].hasError('pattern')">
                                <span class="text-sm">You can only use letters</span>  
                                  
                                   </div>
                                   <div *ngIf="formDE.controls['nomDepart'].hasError('minlength')">
                                    <span class="text-sm">minLength = 3</span>  
                                      
                                   </div>
                               </div>
                      </div>
                    
                      </div>
                    



                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-4">
                              <label class="form-label">Internal Code :</label>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="input-group input-group-dynamic  mb-4">
                                <input type="text" name="code" class="form-control" formControlName="codeInterne" [(ngModel)]="departement.codeInterne"  placeholder="Internal Code">
                            </div>
                            <div class="alert alert-danger alert-dismissible text-white" *ngIf="formDE.controls['codeInterne'].invalid && formDE.controls['codeInterne'].touched">
  
                              <div *ngIf="formDE.controls['codeInterne'].hasError('required')">
                                <span class="text-sm">this field is required</span>  
                                  
                                   </div>

                                   <div *ngIf="formDE.controls['codeInterne'].hasError('mi,length')">
                                    <span class="text-sm">minLength = 3</span>  
                                      
                                       </div>
                                   </div>
                        </div>
                     </div>



<!--

                     <div class="row">
                        <div class="col-md-3">
                            <div class="mb-4">
                              <label class="form-label">Head of Department :</label>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="input-group input-group-dynamic  mb-4">
                                <input type="text" name="chefDepart" class="form-control" formControlName="chefDepart" [(ngModel)]="departement.chefDepart"  placeholder="Head of Department">
                            </div>
                            <div class="alert alert-danger alert-dismissible text-white" *ngIf="formDE.controls['chefDepart'].invalid && formDE.controls['chefDepart'].touched">
  
                              <div *ngIf="formDE.controls['chefDepart'].hasError('required')">
                                <span class="text-sm">this field is required</span>  
                                  
                                   </div>
                                   <div *ngIf="formDE.controls['chefDepart'].hasError('pattern')">
                                    <span class="text-sm">You can only use letters</span>  
                                      
                                       </div>
                                   </div>
                        </div>
                     </div> -->
                     <div class="row">
                      <div class="col-md-3">
                          <div class="mb-4">
                            <label class="form-label">Bloc :</label>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="input-group input-group-static mb-4">
                            <select  name="bloc" class="form-control" id="bloc" formControlName="bloc" [(ngModel)]="departement.bloc">
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                              <option value="D">D</option>
                              <option value="E">E</option>
                              <option value="F">F</option>
                              <option value="G">G</option>
                            </select>
                          </div>
                          <div class="alert alert-danger alert-dismissible text-white" *ngIf="formDE.controls['bloc'].invalid && formDE.controls['bloc'].touched">
  
                            <div *ngIf="formDE.controls['bloc'].hasError('required')">
                              <span class="text-sm">this field is required</span>  
                                
                                 </div>
                                 </div>
                      </div>
                   </div>

                   <!-- i need a button fih list w fih details and its disabled if ahna nasn3ou fi haja jdida /i need to think this through/-->
                     
                   <div class="row">
               
                    <div class="col-4">
                                                 <button 
                                                 class="btn btn-lg bg-gradient-dark btn-lg w-50 mt-4 mb-0" (click)="back()">Back</button>
                           
                           
                          </div>  
                          <div class="col-8 flex align-items-end">
                            <button type="submit"  [disabled]="formDE.invalid"
                                class="btn btn-lg bg-gradient-primary btn-lg w-50 mt-4 mb-0">{{action}}</button>
                                
                               
                              </div>  
  

                 </div>
                 
                </form>
              </div>
              
        </div>
     



</div>

