.form-group{
    max-width: 500px;
    label{
        font-weight: 500;
        margin-bottom: 5px;
    }
    margin-bottom: 10px;
}

.ng-valid.ng-touched {
   
    border-radius: 5px !important;
}

input.ng-invalid.ng-touched{
    border:none;
    border:1px solid red;
    border-radius: 5px !important;
}


form input{
    background-color: transparent;
}
