.input-search{
    max-width: 600px;
    margin: auto;
    padding: 15px 5px;
    button {
        padding: 1.1em 2em;
        margin-left: 5px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #FFF;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: #D81B60;
            box-shadow: 0px 15px 20px rgba(190, 37, 96, 0.4);
            color: #fff;
            transform: translateY(-3px);
          }
          
          &:active {
            transform: translateY(-1px);
          }
      }
      
      
}

.navbar-nav{
  i{
     font-size: 1.4rem;
      &:hover{
         scale: 1.5;
         cursor: pointer;
         font-weight: 700;
      }
  }
}

body{
  background:#eee;    
  }
  
  .card-box {
      position: relative;
      color: #fff;
      padding: 20px 10px 40px;
      margin: 20px 0px;
  }
  .card-box:hover {
      text-decoration: none;
      color: #f1f1f1;
  }
  .card-box:hover .icon i {
      font-size: 100px;
      transition: 1s;
      -webkit-transition: 1s;
  }
  .card-box .inner {
      padding: 5px 10px 0 10px;
  }
  .card-box h3 {
      font-size: 27px;
      font-weight: bold;
      margin: 0 0 8px 0;
      white-space: nowrap;
      padding: 0;
      text-align: left;
  }
  .card-box p {
      font-size: 15px;
  }
  .card-box .icon {
      position: absolute;
      top: auto;
      bottom: 5px;
      right: 5px;
      z-index: 0;
      font-size: 72px;
      color: rgba(0, 0, 0, 0.15);
  }
  .card-box .card-box-footer {
      position: absolute;
      left: 0px;
      bottom: 0px;
      text-align: center;
      padding: 3px 0;
      color: rgba(255, 255, 255, 0.8);
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      text-decoration: none;
  }
  .card-box:hover .card-box-footer {
      background: rgba(0, 0, 0, 0.3);
  }
  .bg-blue {
      background-color: #00c0ef !important;
  }
  .bg-green {
      background-color: #00a65a !important;
  }
  .bg-orange {
      background-color: #f39c12 !important;
  }
  .bg-red {
      background-color: #d9534f !important;
  }
  
  .inner i {
    &:hover{
      scale: 1.3;
      animation-name: scale;
      animation-duration: 4s;
      cursor: pointer;
    }
  }

  .modal.show{
    display: block;
  }
  
  .myelement {
    background: rgba(0, 0, 0, 0.5);
  }